// Layout variables partial
@use "partials/colors";

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp {
	background: colors.$section-light;
}
section.features, section.events, section.blog {
	background: colors.$section-dark;
}
